.navigation-bar{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
   border-bottom: solid;
  border-bottom-left-radius: 25px ;
  border-bottom-right-radius: 25px ;
  border-top-left-radius:25px ;
  border-top-right-radius:25px ;
  position: fixed;
  top: 10px;
  border: none;
  box-shadow: 0px 0px 20px rgba(108, 116, 235, 0.8);
  z-index: 11;
  background-color: rgb(20, 20, 26);
  transition: 0.5s;
  
}
.navigation-bar:hover{
  box-shadow: 0px 0px 10px rgb(80, 102, 224);
}
.logo-div{
  flex: 1;
}
.logo-div img{
  height: 50px;
  width: 150px;
  margin-left: 40px;
}
.fa-bars{
  color: aliceblue;
  opacity: 0;
}
.fa-x{
  color: aliceblue;
  opacity: 0;
}
.mobile-freindly{
  flex: 2;
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
}
.refrences-div{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-links{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.navigation-links li {
list-style: none;
color: white;
}
.navigation-links li a{
  text-decoration: none;
  font-size: 20px;
  color: rgb(211, 218, 224);
}
.navigation-links li:hover a{
  
  text-shadow: 0px 0px 10px rgba(255, 255, 255,1);
  color: white;
}
.navigation-links li:active a{
  color: rgb(32, 2, 80);
}
.button-div{
  flex: 1 ;
  display: flex;
  justify-content:center;
  align-items: center;
}
.theme-button{
  height: 40px;
  border-radius: 25px;
  background-color: transparent;
  color: rgb(225, 233, 247);
  width: 120px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  font-family:Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 10px rgba(220, 222, 224, 0.877);
  border: none;
  transition: 0.5s;
}

.theme-button:hover{
  box-shadow: 0px 0px 20px rgba(71, 96, 235, 0.8);
  color: yellow;
  cursor: pointer;
}
.theme-button i{
  color: rgb(230, 250, 5);
  
}

/*    ResponsiveNess     */
/*    MAVBAR  */
@media (max-width: 768px) {
   .navigation-bar{
    border: none;
    border-bottom: none;
    border-bottom-left-radius: 0 ;
    border-bottom-right-radius: 0 ;
    border-top-left-radius:0 ;
    border-top-right-radius:0;
    padding: 0;
    top: 0;
  }

  .logo-div img{
    margin-left: 10px;

  }
  .fa-x{
    opacity: 1;
  }
  .fa-bars{
    opacity: 1;
    position:absolute;
    right: 10%;
    font-size: 25px;
    top: 24%;
  }
  .mobile-freindly{
    position: fixed ;
    right: 0px;
    bottom: 0px;
    top: 0px;
    width: 50%;
    margin-right: -100%;
    transition: 0.4s;
    border-left: 1px solid rgb(157, 157, 252);
    background-color: rgb(58, 58, 70);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fa-x{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .refrences-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:100px ;
  }
  .navigation-links{
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    align-items: center;
    padding: 0;
  }
  .navigation-links li{
    width: 150px;
    height: 50px;
    box-shadow: 0px 0px 10px rgba(7, 4, 4, 0.6);
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
    .navigation-links li:hover{
      border: 1px solid white;
      box-shadow: 0px 0px 10px rgba(108, 116, 235, 0.8);
      color: white;
      cursor: pointer;
    } 
    .navigation-links li:active a{
      color: rgb(255, 255, 255);
    }
    .theme-button{
      width: 150px;
      padding: 0;
    }
}
/*   HOME     */
