.Project-Div{
  height: 100vh;
  width: 100%;
  background-color: rgb(20, 20, 26);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
 
}
.Project-Header{
  width: 100%;
  height: 10%;
  position: absolute;
  top: 14%;
  text-align: center;
  font-family:Inter;
  font-size: 40px;
  font-weight:600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;


}
.fa-diagram-project{
  transition: 0.4s ease; 
  color: rgb(204, 204, 253); 
}
.projects:active 
.fa-diagram-project{
  transition: 0.4s ease;
  transform: rotate(180deg);
   transform: skewX(190deg);
} 
.Project-Body{
  width: 100%;
  height: 75%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container{
  width: 50%;
  height: 90%;  
  overflow: hidden;
}
.project-container{
  display: flex;
  transition: 0.4s ease-in-out; 
}
.project{
  min-width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-image{
  width: 80%;
  height: 90%;
  margin: auto;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.4s;
}
.project-ss{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}
.project-ss:hover{
  transform: scale(1.3);
}

.project-name{
  width: 81%;
  margin: auto;
  border-radius: 10px;
}
.project-name-header
{
  display: flex;
  background-color: rgb(55, 52, 58);
  color: #a7aaaa; 
  padding: 5px 15px 10px 10px;
  border-radius: 10px;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.project-name h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(224, 209, 209);
}

.fa-github{
  color: rgb(255, 255, 255);
  font-size: 30px; 
 }
.fa-github:hover{
  color: rgb(192, 192, 192);
  cursor:pointer;
  
}
 
.tooltip{
  opacity: 0;
  position: absolute;
  top: 5px;
  right: -65px;
  background-color: white;
  color:black;
  padding: 10px 5px 10px 10px;
  font-weight: bold;
  font-size: 12px;
  z-index: 15;
}
.fa-github:hover .tooltip{
  opacity: 1;
}
.project-techstack{
  text-align: center;
  margin-top: 10px;
  border: 1px solid white;
  padding: 10px 0px 10px 0px;
  color: rgb(255, 251, 15);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
button{
  background-color: transparent;
  font-size: 30px;
  border: none;
  font-weight: bolder;
  color: wheat;
  width: 50px;
  height: 50px;
}
@media (max-width:768px){
  .Project-Div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  .main-container{
    height: auto;
    width: 90%;
  }
  .project-container{
    width: 100%;
  }
  .project{
    width: 100%;
  }

}